<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1" />
  <title>Flask Livetw</title>

  {% block head %}{% endblock %}
    <script src="{{ url_for('static', filename='htmx.min.js') }}" defer></script>
    {% if config.LIVETW_DEV %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='.dev/tailwind_development.css') }}">
    <script src="{{ url_for('static', filename='.dev/live_reload.js') }}" defer></script>
  {% else %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tailwind_production.css') }}">
  {% endif %}
  {% if config.LIVETW_DEV %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='.dev/tailwind_development.css') }}">
    <script src="{{ url_for('static', filename='.dev/live_reload.js') }}" defer></script>
  {% else %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tailwind_production.css') }}">
  {% endif %}

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
</head>
<body>
  {% block body %}{% endblock %}
</body>
</html>
